
.upright {
    top: 10px;
    right: 90px;
    position: absolute;
}
.bottomright {
    bottom: -90px;
    right: 90px;
    position: absolute;
}
.bottomleft {
    bottom: -90px;
    position: absolute;
}