div {
    background-color: rgb(213, 45, 45);
    border: 1px solid;
    border-color: black;
    width: 80px;
    height: 80px;
    position: absolute;
}
.upright {
    top: 10px;
    right: 10px;
}
.bottomright {
    bottom: 10px;
    right: 10px;
}
.bottomleft {
    bottom: 10px;

}